* {
    margin : 0;
}

/** Index.php */

#indew {
    max-width: 1440px;
    margin: auto;
    padding:0 15px;
}
#index h1 {
    text-align: center;
}
#index nav ul li {
    list-style: none;
}
#index nav ul li a {
    color: black;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    &:hover {
        color: cornflowerblue;
    }
}

/** Livre liste.php */

.table_component {
   margin:auto;
    overflow: auto;
    width: 80%;
}
.table_component table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}
.table_component caption {
    caption-side: top;
    text-align: left;
}
.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}
.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
#Modify {
    color: black;
    text-decoration: none;
    &:hover {
        color: cornflowerblue;
    }
}
#Add {
    color: black;
    text-decoration: none;
    &:hover {
        color: red;
    }
}
#AddOfBook  {
    color: black;
}